{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
        content="width=device-width, initial-scale=1">

    <link
        rel="icon"
        type="image/png"
        href="{% static 'core/images/logo.png' %}">    

    <title>

    MITSOL |
    Software Engineering,
    Cybersecurity & Technology Solutions

    </title>

    <meta
    name="description"
    content="MITSOL provides software engineering, cybersecurity, IT consultancy, computer training, and digital technology solutions.">

    <meta
    name="keywords"
    content="Software Engineering, Cybersecurity, IT Consultancy, Technology Solutions, Django, Digital Innovation, MITSOL">

    <meta
    name="author"
    content="MITSOL">

    <meta
    property="og:title"
    content="MITSOL | Technology Solutions">

    <meta
    property="og:description"
    content="Software Engineering, Cybersecurity, IT Consultancy, and Digital Innovation.">

    <meta
    property="og:image"
    content="{% static 'core/images/logo.png' %}">

    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
    rel="stylesheet">

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <link
    rel="stylesheet"
    href="{% static 'core/css/style.css' %}">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a
            class="navbar-brand d-flex align-items-center"
                href="{% url 'home' %}">

                    <img
                        src="{% static 'core/images/logo.png' %}"

                        alt="MITSol Logo"

                        class="navbar-logo me-2">

                            <div>

                                <div class="brand-text">

                                    <span class="d-block text-info">
                                        Technology Solutions
                                    </span>

                                </div>

                            </div>

        </a>

        <button
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div
        class="collapse navbar-collapse"
        id="navbarNav">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">

                    <a class="nav-link"
                    href="{% url 'home' %}">

                        Home

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                    href="{% url 'software_product_list' %}">

                        Software

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                    href="{% url 'services' %}">

                        Services

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                    href="{% url 'portfolio' %}">

                        Portfolio

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                    href="{% url 'research' %}">

                        Research

                    </a>

                </li>

                <li class="nav-item">

                    <a
                        class="nav-link {% if 'about' in request.path %}active-link{% endif %}"
                            href="{% url 'about' %}">

                            About

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                        href="{% url 'contact' %}">

                            Contact

                        </a>

                    </li>

            </ul>

        </div>

    </div>

</nav>

{% block content %}

{% endblock %}

<!-- Footer -->

<footer class="bg-dark text-white py-5 mt-5">

    <div class="container">

        <div class="row">

            <!-- COMPANY -->

            <div class="col-md-4 mb-4">

                <h5 class="fw-bold">

                    MITSOL

                </h5>

                <p>

                    Magadulla Information Technology Solutions.

                    MITSOL provides software products,
                    custom software development,
                    cybersecurity solutions,
                    research-driven innovation,
                    ICT training,
                    and digital transformation consultancy.

                </p>

            </div>

            <!-- QUICK LINKS -->

            <div class="col-md-4 mb-4">

                <h5 class="fw-bold">

                    Quick Links

                </h5>

                <ul class="list-unstyled">

                    <li>

                        <a href="{% url 'home' %}"
                        class="footer-link">

                            Home

                        </a>

                    </li>

                    <li>

                        <a href="{% url 'services' %}"
                        class="footer-link">

                            Services

                        </a>

                    </li>

                    <li>

                        <a href="{% url 'software_product_list' %}"
                        class="footer-link">

                            Software

                        </a>

                    </li>

                    <li>

                        <a href="{% url 'portfolio' %}"
                        class="footer-link">

                            Portfolio

                        </a>

                    </li>

                    <li>

                        <a href="{% url 'research' %}"
                        class="footer-link">

                            Research

                        </a>

                    </li>

                    <li>

                        <a href="{% url 'about' %}"
                        class="footer-link">

                            About

                        </a>

                    </li>

                    <li>

                        <a href="{% url 'contact' %}"
                        class="footer-link">

                            Contact

                        </a>

                    </li>

                </ul>

            </div>

            <!-- CONNECT -->

            <div class="col-md-4 mb-4">

                <h5 class="fw-bold">

                    Connect With Us

                </h5>

                <div class="social-links">

                <a href="https://www.linkedin.com/in/juma-shija-20a3945a/" class="footer-link">
                <i class="fab fa-linkedin me-2"></i>
                LinkedIn
                </a>

                <a href="https://github.com/Shija-cmd" class="footer-link">
                <i class="fab fa-github me-2"></i>
                GitHub
                </a>

                <a href="https://www.facebook.com/shijajmagadulla/" class="footer-link">
                <i class="fab fa-facebook me-2"></i>
                Facebook
                </a>

                <a href="https://www.instagram.com/magadulla/" class="footer-link">
                <i class="fab fa-instagram me-2"></i>
                Instagram
                </a>

                <a href="https://www.youtube.com/@jumashija"
                target="_blank"
                class="footer-link">

                <i class="fab fa-youtube me-2"></i>
                YouTube

                </a>

                <a href="https://x.com/Shija_SE"
                class="footer-link"
                target="_blank">

                <i class="fab fa-x-twitter me-2"></i>
                X

                </a>

                
                </div>

            </div>

        </div>

        <hr>

        <div class="text-center">

            <p class="mb-0">

                © 2026 MITSOL.
                All Rights Reserved.

            </p>

        </div>

    </div>

</footer>

<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js">
</script>

</body>

</html>
