{% extends 'core/base.html' %}

{% block content %}

<section class="py-5 text-center">

    <div class="container">

        <h1
        class="display-1 fw-bold text-danger">

            500

        </h1>

        <h2>

            Internal Server Error

        </h2>

        <p class="lead text-muted">

            Something went wrong on our side.

            Please try again later.

        </p>

        <a

        href="{% url 'home' %}"

        class="btn btn-primary mt-3">

            Return Home

        </a>

    </div>

</section>

{% endblock %}